<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Password Reset</title>
		<style>
			body { font-family: Arial, sans-serif; background-color: #f4f4f4;
			margin: 0; padding: 0; } .container { width: 100%; max-width: 600px;
			margin: 0 auto; background-color: #ffffff; border-radius: 8px;
			overflow: hidden; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }
			.header { padding: 20px 20px 5px; text-align: center; color: white;
			} .header img { max-width: 100px; margin-bottom: 10px; } .header h1
			{ font-size: 32px; color: black; margin: 0; } .content { padding:
			5px 20px 20px; text-align: left; } h1 { font-size: 24px; color:
			#333333; } p { font-size: 16px; color: #666666; margin: 10px 0; }
			.button-wrap { text-align: center; } .button { display:
			inline-block; padding: 12px 25px; margin: 20px 0; font-size: 16px;
			color: #ffffff; background-color: #FFBB94; border-radius: 5px;
			text-decoration: none; text-align: center; } .footer {
			background-color: #A33757; padding: 20px; font-size: 14px; color:
			white; text-align: center; } .footer p { color: #FFF;
			text-decoration: none; } .greeting { font-size: 20px; font-weight:
			bold; color: #333333; }
		</style>
	</head>
	<body>
		<div class='container'>
			<div class='header'>
				<a href='https://ibb.co/hfb1c2M'>
					<img
						src='https://i.ibb.co/q5KFCmn/logo.png'
						alt='logo'
						width='150'
						border='0'
					/>
				</a>
				<h1>Password Reset</h1>
				<div
					style='width: 100%; height: 1px; background-color: #000;'
				></div>
			</div>
			<div class='content'>
				<p class='greeting'>Hi, {{username}}!</p>
				<p>
					You are receiving this email because we received a request
					to reset your password for your
					<span style='color: #852E4E; margin: 0'>Code</span>
					<span style='color: #FFBB94; margin: 0'>Talk</span>
					account. Please click the button below to reset your
					password:
				</p>
				<p>
					You're almost set to start enjoying
					<span style='color: #852E4E; margin: 0'>Code</span>
					<span style='color: #FFBB94; margin: 0'>Talk</span>. Simply
					click the link below to verify your email address and get
					started.
				</p>
				<div class='button-wrap'>
					<a
						href='http://localhost:3001/password-reset/{{token}}'
						class='button'
					>
						Reset my password
					</a>
				</div>
				<p style='font-size: small'>
					This link will only be valid for the next
					<b>15 minutes</b>. If you did not create an account on our
					platform, please disregard this email.
				</p>
			</div>
			<div class='footer'>
				<p>Copyright © 2024 CodeTalk. All Rights Reserved.</p>
			</div>
		</div>
	</body>
</html>