<main>
	<h1>Password reset</h1>
	<p>
		Hi,
		{{username}}, to reset your BugTalk account password follow the link
		below.
	</p>
	<a href='http://localhost:5000/api/auth/reset/{{token}}'>ссылке</a>
</main>