<main>
	<h1>Registration confirm</h1>
	<p>
		Hi,
		{{username}}, to activate your BugTalk account follow the link below.
	</p>
	<a href='http://localhost:5000/api/auth/verify/{{token}}'>ссылке</a>
</main>